@import "bootstrap/functions";
@import "variables";
@import "bootstrap/mixins";

body {
  background-color: $blue;
}

aside, p {
  background-color: $yellow;
  color: $black;

  [type="epubtype:something"] {
    background-color: darken($green, 10%);
  }
  [type="epubtype:somethingelse"] {
    background-color: $red;
  }
}
