@import "bootstrap/functions";
@import "variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/images";

%prettify {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

body {
  @extend .container-fluid;

  background-color: $nlb-gray;
}

h1, h2, h3, h4 {
  @extend .container; 

  text-transform: capitalize;
  color: $nlb-green;
}

p {
  @extend .container;
  @extend %prettify;

  background-color: $nlb-green;
  color: $nlb-black;
}

img {
  @extend .img-fluid;
  @extend %prettify;
}
