/* -------------------------------------------------------------------------- */
/*                Lists                                                       */
/* -------------------------------------------------------------------------- */

list, ul, ol, dl {
        margin-top: 1;
        margin-left: 2;
        margin-bottom: 1;
}

li {
        text-indent: -2;
        text-align: left;
        display: list-item;
        
        list, ul, ol {
            margin-top: 0;
            margin-bottom: 0;
        }
}

list, ul, ol, dl {
        counter-reset: list-item;
}

list[type=ul], ul {
        list-style-type: '⠤⠤';
}

list[type=ol], ol {
        list-style-type: decimal;
}

dl, list[type=pl], .list-style-type-none {
        list-style-type: none;
}

dt, dd {
    display: inline;
} 
