@namespace epub 'http://www.idpf.org/2007/ops';
@namespace xml 'http://www.w3.org/XML/1998/namespace';

/* Declare parameters. Values are passed in from nlb:dtbook-to-pef. */
$show-print-page-numbers: false !default;
$show-braille-page-numbers: false !default;
$line-spacing: false !default;
$include-notes: true !default;
$include-images: true !default;
$include-captions: true !default;
$notes-placement: end-of-volume !default;
$default-table-class: table-matrix !default;
$page-width: 40 !default;
$hyphenation: true !default;
$force-norwegian: true !default;
$duplex: true !default;
$include-strong: true !default;
$include-em: true !default;

@import "page-numbers";
@import "line-spacing";
@import "volume-breaking";
@import "book-structure";
@import "generated-content";
@import "general";
@import "text-formatting";
@import "uncontracted-content";
@import "thematic-breaks";
@import "special-classes";
@import "headlines";
@import "other";
@import "images";
@import "poems";
@import "lists";
@import "tables";
@import "notes";
