/* -------------------------------------------------------------------------- */
/*                Note and endnote                                            */
/* -------------------------------------------------------------------------- */

/* Remove note references by default */
noteref,
a[epub|type~='noteref'] {
    display: none;
}

note,
*[epub|type~='note'], *[epub|type~='footnote'], *[epub|type~='endnote'], *[epub|type~='rearnote'] {
    text-align: left;
    
    /* Note: inline content in notes are wrapped into <p> elements in pre-processing.xsl */
    
    *:first-child {
        text-indent: -2;
        
        &::before {
            content: '⠠';
        }
    }
    
    /* Remove notes by default */
    display: none;
}

/* Remove groups of notes by default */
*.notes, *.footnotes, *.endnotes,
*[epub|type~='notes'], *[epub|type~='footnotes'], *[epub|type~='endnotes'], *[epub|type~='rearnotes'] {
    display: none;
}

/* Remove rearmatter that only contains notes by default */
rearmatter:not(:has(> level1:not(.notes):not(.footnotes):not(.endnotes))) {
    display: none;
}

/* An extend-only selector (%endnotes-title) would be more appropriate
 * but does not seem to work in the 'end-of-book' case */
@mixin endnotes-title {
        display: block;
        margin-top: 2;
        margin-left: 2;
        margin-right: 0;
        margin-bottom: 1;
        text-align: center;
        border-top: ⠉;
        border-bottom: ⠉;
        content: 'Fotnoter';
        text-transform: auto;
}

/*
 * noteref numbering is implemented in pre-processing.xsl
 * FIXME: could be implemented in CSS
 */
@mixin noteref($refattr) {
        display: inline;
        &::before {
                content: '⠠';
        }
        &::alternate {
                display: block;
                content: target-content(attr($refattr));
                
                margin-left: 4;
                @if ($notes-placement == 'bottom-of-page') {
                        flow: footnotes;
                } @else {
                        flow: endnotes;
                }
        }
}

@if ($include-notes) {
        
        @page notes {
                margin-left: 0;
                @if $show-braille-page-numbers {
                        @bottom-center {
                                content: counter(page);
                        }
                }
        }
        
        noteref {
            @include noteref(idref);
        }
        a[epub|type~='noteref'] {
            @include noteref(href);
        }

        @if ($notes-placement == 'bottom-of-page') {
                @page {
                        @footnotes {
                                content: flow(footnotes);
                                max-height: 15;
                                border-top: ⠤;
                                margin-left: 0;
                                -obfl-fallback-collection: endnotes;
                        }
                }
                .notes-placement {
                        -obfl-use-when-collection-not-empty: footnotes;
                }
                .notes-placement-fallback {
                        -obfl-use-when-collection-not-empty: endnotes;
                }
                
        } @else if ($notes-placement == 'end-of-book') {
                book, html {
                        &:has(noteref)::after,
                        &:has(a[epub|type~='noteref'])::after {
                                &::before {
                                        @include endnotes-title;
                                        page-break-before: right;
                                }
                                content: flow(endnotes);
                                page: notes;
                        }
                }
        }
        @if ($notes-placement == 'bottom-of-page' or $notes-placement == 'end-of-volume') {
                book, html {
                        &:has(noteref, a[epub|type~='noteref'])::alternate {
                               @include endnotes-title;
                               flow: endnotes-title;
                        }
                }
                @volume {
                        @end {
                                content: flow(endnotes-title) flow(endnotes, volume);
                                page: notes;
                        }
                }
        }
}
