/* -------------------------------------------------------------------------- */
/*                Other elements                                              */
/* -------------------------------------------------------------------------- */

p {
        text-indent: 2;
        text-align: left;
        widows: 2;
        orphans: 2;
}

blockquote {
        margin-top: 1;
        margin-bottom: 1;
        margin-left: 2;
        text-indent: 2;
        text-align: left;
}

sidebar,
epigraph,
aside {
        margin-top: 1;
        margin-bottom: 1;
        margin-left: 2;
}

sidebar, aside[epub|type~='sidebar'] {
        text-indent: 2;
        text-align: left;
}

sidebar::before, aside[epub|type~='sidebar'] {
        border-top: ⠤;
        border-bottom: ⠉;
}

epigraph, aside[epub|type~='epigraph'] {
        text-indent: 2;
        text-align: left;
}

prodnote, aside[epub|type~='z3998:production'] {
       display: block;
       margin-top: 0;
       margin-bottom: 0;
       margin-left: 0;
       &::before {
               content: "⠰⠄";
       }
       &::after {
               content: "⠠⠆";
       }
}
