/* -------------------------------------------------------------------------- */
/*                Text formatting                                             */
/* -------------------------------------------------------------------------- */

@text-transform strong {
    system: -nlb-indicators;
    open: "⠠⠄";
    close: "⠠⠄";
}

@text-transform em {
    system: -nlb-indicators;
    open: "⠆";
    close: "⠰";
}

@text-transform u {
    system: -nlb-indicators;
    open: "⠸";
    close: "⠸";
}

@text-transform strike {
    system: -nlb-indicators;
    open: "⠐⠂";
    close: "⠐⠂";
}

@if ($include-strong) {
    strong, b {
        @if ($include-em) {
            text-transform: strong;
            :root:not(:has(em, i)) & {
                text-transform: em;
            }
        } @else {
            text-transform: em;
        }
    }
}

@if ($include-em) {
    em, i {
        text-transform: em;
    }
}

u {
    text-transform: u;
}

strike, s {
    text-transform: strike;
}

sub {
    text-transform: -louis-sub;
}

sup {
    text-transform: -louis-super;
}