/* -------------------------------------------------------------------------- */
/*                Uncontracted content                                        */
/* -------------------------------------------------------------------------- */

.uncontracted-letters, h1 {
        text-transform: uncontracted;
}

[xml|lang]:not([xml|lang|="no"]), [lang]:not([lang|="no"]) {
        text-transform: uncontracted;
        
        /* "contracted" means "allow contracted" */
        [xml|lang|="no"], [lang|="no"] {
                text-transform: contracted;
        }
}

@if $hyphenation and $force-norwegian {
    [xml|lang]:not([xml|lang|="no"]), [lang]:not([lang|="no"]) {
        hyphens: manual;
        [xml|lang|="no"], [lang|="no"] {
            hyphens: auto;
        }
    }
}
