/* -------------------------------------------------------------------------- */
/*                 Volume breaking                                            */
/* -------------------------------------------------------------------------- */

/* Parts */
level1.part, section[epub|type~='part'] {
    page-break-before: right;
    
    & ~ level1.part,
    & ~ section[epub|type~='part'] {
        /* Note: this selector assumes that parts in EPUBs are sibling elements */
        
        /* Always start a new volume before a new part */
        volume-break-before: always;
    }
}

/* Always start top-level chapters on right-hand page: DTBook */
level1:not(.part,
           .pef-titlepage,
           .pef-about),
level1.part > level2 {
        page-break-before: right;
}

/* Always start top-level chapters on right-hand page: EPUB/HTML */
html:has(body ~ body) > body,
html:not(:has(body ~ body)) > body > section {
        &:not(.pef-titlepage,
              .pef-about) {
                &:not([epub|type~='part']),
                &[epub|type~='part'] > section {
                        page-break-before: right;
                }
        }
}

/* Don't split "leaf sections" across volumes.
 * 
 * A leaf section is a block of adjacent content with the same sectioning depth.
 * Which means:
 * - either; a section element with no child sections
 * - or; the content in a section (<h1>, <p>, etc.), which may have section element siblings
 * 
 * If a section contains other sections, then the normal content (<h1>, <p>, etc.) in the
 * section is wrapped in a <div class="leaf-section"> element by pre-processing.xsl.
 */

section:not(:has(> section, > div.leaf-section)),
level1:not(:has(> level2, div.leaf-section)),
level2:not(:has(> level3, div.leaf-section)),
level3:not(:has(> level4, div.leaf-section)),
level4:not(:has(> level5, div.leaf-section)),
level5:not(:has(> level6, div.leaf-section)),
level6:not(:has(div.leaf-section)),
div.leaf-section {
    volume-break-inside: -obfl-keep(5);
    
    &:has(~ *) {
    
        /* Keep the first child element of a leaf section together with the next sheet.
           This should prevent orphaned content if the leaf section is very small. */
        :first-child {
            -obfl-keep-with-next-sheets: 1;
        }
        
        h1, h2, h3, h4, h5, h6 {
            /* Keep headlines together with the next sheet.
               This should prevent orphaned headlines when the headline is near the end of the leaf section. */
            -obfl-keep-with-next-sheets: 1;
        }
    }
}

/* Avoid page breaks after a headline (orphaned headline) */
h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}

/* Class that can be used to insert manual volume breaks */
*.braille-volume-break-before {
    volume-break-before: always;
}
