/*! NLB Stylesheets | v1.0.3 */

@charset "UTF-8";
/* Begin Core.SCSS */

/* Imports
 * ---------------------------------------------------------- */
@import "normalize";
@import "bootstrap/functions";
@import "variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/utilities";
@import "bootstrap/utilities/screenreaders";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/images";
@import "bootstrap/tables";
@import "mixins";

/* General styles
 * ---------------------------------------------------------- */
$height: $spacer;

body {
    @extend .bg-light, .text-dark;
    overflow-x: hidden;
}
#content {
    // max-width: 100%;
    .hidden-headline { @extend .d-none; }
    .nested-list { list-style-type: none; padding-left: 0; }

    padding-right: 20px;
    padding-left: 20px;

    @include media-breakpoint-only('sm') {
        padding-right: 45px;
        padding-left: 45px;
    }

    @include media-breakpoint-only('md') {
        padding-right: 70px;
        padding-left: 70px;
    }

    @include media-breakpoint-up('lg') {
        padding-right: 70px;
        padding-left: 70px;
    }
    
    .noteref {
        vertical-align: super;
        font-size: 0.6em;
    }
    .rearnotes {
        .notebody {
            p {
                display: block;
                padding: 15px 20px;
                border-top: 1px solid $nlb-green;
                margin-bottom: 0;
            }
        }
    }
    
    /* Paging
     * ---------------------------------------------------------- */
    .sidetall {
        @include clearfix();
    
        display: inline-block;
        width: 100%;
    
        &.page-normal,
        &.page-front, 
        &.page-special {
            @extend .border-top, .d-none, .d-sm-block, .pt-3, .mt-5, .mb-4, .text-right;
        
            font-weight: bold;
            page-break-before: always;
        }
    }
    
    /* Typography
     * ---------------------------------------------------------- */
    strong {
        font-weight: bold;
    }
    
    blockquote {
        @extend p, .blockquote;
    }
    h1.title { margin-top: 10px; }
    h1, h1.title {
        @include nlb-set-header-font($nlb-h1-margin-bottom-sm, $nlb-h1-font-family, $nlb-h1-font-size-sm, $nlb-h1-font-size-lead-sm);
    
        @include media-breakpoint-only('md') {
            @include nlb-set-header-font($nlb-h1-margin-bottom-md, $nlb-h1-font-family, $nlb-h1-font-size-md, $nlb-h1-font-size-lead-md);
        }
    
        @include media-breakpoint-up('lg') {
            @include nlb-set-header-font($nlb-h1-margin-bottom-lg, $nlb-h1-font-family, $nlb-h1-font-size-lg, $nlb-h1-font-size-lead-lg);
        }
    }
    h2 {
        @include nlb-set-header-font($nlb-h2-margin-bottom-sm, $nlb-h2-font-family, $nlb-h2-font-size-sm, $nlb-h2-font-size-lead-sm);
    
        @include media-breakpoint-only('md') {
            @include nlb-set-header-font($nlb-h2-margin-bottom-md, $nlb-h2-font-family, $nlb-h2-font-size-md, $nlb-h2-font-size-lead-md);
        }
    
        @include media-breakpoint-up('lg') {
            @include nlb-set-header-font($nlb-h2-margin-bottom-lg, $nlb-h2-font-family, $nlb-h2-font-size-lg, $nlb-h2-font-size-lead-lg);
        }
    }
    h3 {
        @include nlb-set-header-font($nlb-h3-margin-bottom-sm, $nlb-h3-font-family, $nlb-h3-font-size-sm, $nlb-h3-font-size-lead-sm);
    
        @include media-breakpoint-only('md') {
            @include nlb-set-header-font($nlb-h3-margin-bottom-md, $nlb-h3-font-family, $nlb-h3-font-size-md, $nlb-h3-font-size-lead-md);
        }
    
        @include media-breakpoint-up('lg') {
            @include nlb-set-header-font($nlb-h3-margin-bottom-lg, $nlb-h3-font-family, $nlb-h3-font-size-lg, $nlb-h3-font-size-lead-lg);
        }
    }
    h4 {
        @include nlb-set-header-font($nlb-h4-margin-bottom-sm, $nlb-h4-font-family, $nlb-h4-font-size-sm, $nlb-h4-font-size-lead-sm);
    
        @include media-breakpoint-only('md') {
            @include nlb-set-header-font($nlb-h4-margin-bottom-md, $nlb-h4-font-family, $nlb-h4-font-size-md, $nlb-h4-font-size-lead-md);
        }
    
        @include media-breakpoint-up('lg') {
            @include nlb-set-header-font($nlb-h4-margin-bottom-lg, $nlb-h4-font-family, $nlb-h4-font-size-lg, $nlb-h4-font-size-lead-lg);
        }
    }
    h5 {
        @include nlb-set-header-font($nlb-h5-margin-bottom-sm, $nlb-h5-font-family, $nlb-h5-font-size-sm, $nlb-h5-font-size-lead-sm);
    
        @include media-breakpoint-only('md') {
            @include nlb-set-header-font($nlb-h5-margin-bottom-md, $nlb-h5-font-family, $nlb-h5-font-size-md, $nlb-h5-font-size-lead-md);
        }
    
        @include media-breakpoint-up('lg') {
            @include nlb-set-header-font($nlb-h5-margin-bottom-lg, $nlb-h5-font-family, $nlb-h5-font-size-lg, $nlb-h5-font-size-lead-lg);
        }
    }
    h6 {
        @include nlb-set-header-font($nlb-h6-margin-bottom-sm, $nlb-h6-font-family, $nlb-h6-font-size-sm, $nlb-h6-font-size-lead-sm);
    
        @include media-breakpoint-only('md') {
            @include nlb-set-header-font($nlb-h6-margin-bottom-md, $nlb-h6-font-family, $nlb-h6-font-size-md, $nlb-h6-font-size-lead-md);
        }
    
        @include media-breakpoint-up('lg') {
            @include nlb-set-header-font($nlb-h6-margin-bottom-lg, $nlb-h6-font-family, $nlb-h6-font-size-lg, $nlb-h6-font-size-lead-lg);
        }
    }
    p, div.line {
        @include nlb-set-paragraph-font($nlb-p-margin-bottom-sm, $nlb-p-font-size-sm, $nlb-p-font-size-lead-sm);
    
        @include media-breakpoint-only('md') {
            @include nlb-set-paragraph-font($nlb-p-margin-bottom-md, $nlb-p-font-size-md, $nlb-p-font-size-lead-md);
        }
    
        @include media-breakpoint-up('lg') {
            @include nlb-set-paragraph-font($nlb-p-margin-bottom-lg, $nlb-p-font-size-lg, $nlb-p-font-size-lead-lg);
        }
    }
    
    /* Images
     * ---------------------------------------------------------- */
    img {
        @extend .img-fluid, .rounded;
        margin-bottom: $height !important;
    }
    
    figure, .imggroup {
        @extend .figure, .text-center;
        width: 100%;
        margin-bottom: 30px;
    
        @include media-breakpoint-only('md') {
            margin-bottom: 36px;
        }
    
        @include media-breakpoint-up('lg') {
            margin-bottom: 45px;
        }
    
        img {
            @extend .figure-img, .img-fluid, .rounded, .mx-auto, .d-block;
            max-width: 100%;
    
            @include media-breakpoint-up('md') {
                max-width: 70%;
            }
        }
    
        figcaption, .caption {
            @extend .figure-caption;
            color: $dark;
            min-height: 15px;
            margin-top: 15px;
    
            @include media-breakpoint-only('md') {
                margin-top: 20px;
            }
        
            @include media-breakpoint-up('lg') {
                min-height: 25px;
            }
        }
    }
    
    table {
        @extend .table, .table-responsive;
        color: $table-default-text;
        scrollbar-color: $scrollbar-default-marker;
        scrollbar-base-color: $white;
        border-left: 1px solid $table-default-line;
        
        thead, tbody, tfoot {
            width: 100%;
            border-bottom: 1px solid $table-default-line;
        }
    
        thead {
            @extend .thead-light;
        }

        thead tr, tbody tr, tfoot tr {
            th {
                @extend h6;
                border-right: 1px solid $table-default-line;
            }
            td {
                @include nlb-set-paragraph-font($nlb-p-margin-bottom-sm, $nlb-p-font-size-sm, $nlb-p-font-size-lead-sm);
                margin: 12px;
                overflow-wrap: normal !important;
                border-right: 1px solid $table-default-line;
            
                @include media-breakpoint-only('md') {
                    @include nlb-set-paragraph-font($nlb-p-margin-bottom-md, $nlb-p-font-size-md, $nlb-p-font-size-lead-md);
                    margin: 15px;
                }
            
                @include media-breakpoint-up('lg') {
                    @include nlb-set-paragraph-font($nlb-p-margin-bottom-lg, $nlb-p-font-size-lg, $nlb-p-font-size-lead-lg);
                    margin: 20px;
                }
            }
        }

        caption {
            @extend .figure-caption;
            color: $dark;
            margin: 12px;
            @include nlb-set-paragraph-font($nlb-p-margin-bottom-sm, $nlb-p-font-size-sm, $nlb-p-font-size-lead-sm);
        
            @include media-breakpoint-only('md') {
                margin: 15px;
                @include nlb-set-paragraph-font($nlb-p-margin-bottom-md, $nlb-p-font-size-md, $nlb-p-font-size-lead-md);
            }
        
            @include media-breakpoint-up('lg') {
                margin: 20px;
                @include nlb-set-paragraph-font($nlb-p-margin-bottom-lg, $nlb-p-font-size-lg, $nlb-p-font-size-lead-lg);
            }
        }

        &.liste, &.imggroup {
            @extend .table, .table-borderless, .table-responsive;
            border: none !important;
        
            tr td {
                font-size: $nlb-p-font-size-sm;
            
                @include media-breakpoint-only('md') {
                    font-size: $nlb-p-font-size-md;
                }
            
                @include media-breakpoint-up('lg') {
                    font-size: $nlb-p-font-size-lg;
                }
            }
        }
    }
    
    /* Frames
     * ---------------------------------------------------------- */
    .generisk-ramme {
        @include nlb-default-frame();
    
        @include media-breakpoint-only('xs') {
            overflow-wrap: break-word;
        }

        @include nlb-set-paragraph-font($nlb-p-margin-bottom-sm, $nlb-p-font-size-sm, $nlb-p-font-size-lead-sm);
    
        @include media-breakpoint-only('md') {
            @include nlb-set-paragraph-font($nlb-p-margin-bottom-md, $nlb-p-font-size-md, $nlb-p-font-size-lead-md);
        }
    
        @include media-breakpoint-up('lg') {
            @include nlb-set-paragraph-font($nlb-p-margin-bottom-lg, $nlb-p-font-size-lg, $nlb-p-font-size-lead-lg);
        }
    }

    .ramme {
        @include nlb-frame();
    
        &.bg-red {
            @include nlb-color($frame-red-bg, darken($frame-red-bg, 35%), $dark);
        }
        
        &.bg-blue {
            @include nlb-color($frame-blue-bg, darken($frame-blue-bg, 35%), $dark);
        }
        
        &.bg-yellow {
            @include nlb-color($frame-yellow-bg, darken($frame-yellow-bg, 35%), $dark);
        }
    }
    
    /* Lists
     * ---------------------------------------------------------- */
    table.liste, ul, ol {
        font-size: $nlb-p-font-size-sm;
        margin-bottom: $nlb-p-margin-bottom-sm;
        margin-left: 18px;

        @include media-breakpoint-only('sm') {
            font-size: $nlb-p-font-size-sm;
            margin-left: 20px;
        }
    
        @include media-breakpoint-only('md') {
            font-size: $nlb-p-font-size-md;
            margin-left: 25px;
        }
    
        @include media-breakpoint-up('lg') {
            font-size: $nlb-p-font-size-lg;
            margin-left: 25px;
        }

        .listepunkt-punktmerke-innhold, li {
            margin-bottom: 16px;
            margin-left: 20px;

            @include media-breakpoint-only('sm') {
                margin-bottom: 20px;
            }
        
            @include media-breakpoint-up('md') {
                margin-bottom: 24px;
            }
        }
    }
    ol, ul {
        padding-inline-start: 0;
        margin-left: 45px;

        @include media-breakpoint-only('sm') {
            margin-bottom: $nlb-p-margin-bottom-sm*0.75;
        }
    
        @include media-breakpoint-only('md') {
            margin-bottom: $nlb-p-margin-bottom-md*0.75;
        }
    
        @include media-breakpoint-up('lg') {
            margin-bottom: $nlb-p-margin-bottom-lg*0.75;
        }

        li {
            margin-left: 0;
            margin-bottom: 8px;
            @include media-breakpoint-only('sm') {
                margin-bottom: 10px;
            }
            @include media-breakpoint-up('md') {
                margin-bottom: 12px;
            }
            
            ol, ul {
                margin-left: 30px !important;
            }
        }

        &.plain {
            list-style-type: none;
        }
    }
    .ordliste {
        dl dt {
            @include nlb-set-paragraph-font($nlb-p-margin-bottom-sm, $nlb-p-font-size-sm, $nlb-p-font-size-lead-sm);
        
            @include media-breakpoint-only('sm') {
                @include nlb-set-paragraph-font($nlb-p-margin-bottom-md, $nlb-p-font-size-md, $nlb-p-font-size-lead-md);
            }
        
            @include media-breakpoint-up('md') {
                @include nlb-set-paragraph-font($nlb-p-margin-bottom-lg, $nlb-p-font-size-lg, $nlb-p-font-size-lead-lg);
            }
        }
    }
}

.spoken-math {
    @include sr-only();
}

/* End Core.SCSS */