/* Begin DarkTheme.SCSS */

 body.theme__dark {
    @extend .bg-night, .text-light;

    .theme__dark header,
    .theme__dark #toc_container .toc_container__wrapper,
    .theme__dark #content .content__wrapper,
    .theme__dark .page__list-wrapper {
        @extend .bg-night;
    }

    .theme__dark #toc_container .intro {
        background-color: lighten($nlb-black, 5%);
    }

    .theme__dark #hjelpknapp a,
    .theme__dark p,
    .theme__dark a,
    .theme__dark h1,
    .theme__dark h2,
    .theme__dark h3,
    .theme__dark h4,
    .theme__dark h5,
    .theme__dark h6 
    {
        @extend .text-light;
    }

    .theme__dark #toc_container .toc_container__wrapper,
    .theme__dark #toc_container .intro,
    .theme__dark #toc_container ,
    .theme__dark #toc_container ,
    .theme__dark #content .content__wrapper,
    .theme__dark .page__list-wrapper,
    .theme__dark .content__wrapper,
    .theme__dark ::-webkit-scrollbar-track {
        border-color: lighten($nlb-black, 5%);
    }

    .theme__dark input[type="range"] {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0.3, $nlb-green), color-stop(0.3, lighten($nlb-black, 5%)));
    }

    .theme__dark input[type='range']::-webkit-slider-thumb {
        background-color: $white;
        border: .2vh solid $white;
    }

    .theme__dark input[type='range']::-moz-range-thumb {
        background-color: $white;
        border: .2vh solid $white;
        height: 1.2vh;
        width: 1.2vh;
        border-radius: 50%;
    }

    .theme__dark .header__right-2 a:hover {
        color: $white;
    }

    .theme__dark .rbPausedFragment,
    .theme__dark .rbActiveFragment {
        background: $pure-yellow;
        color: lighten($nlb-black, 5%);
    }

    .theme__dark #skippability span,
    .theme__dark #Avspillingshastighet_main span,
    .theme__dark header .header__right-2 span {
        color: lighten($nlb-black, 5%);
    }
    .theme__dark .progress-container{
        background-color: $white;
        border: 1px solid $white;
    }
    .theme__dark .progress-bar{
        background-color: $nlb-black;
            
    }
    .theme__dark #play_button 
    { 
        background-color: $white;
    }
 }

#content.theme__dark {
    @extend .bg-night, .text-light;
    
    span.sentence {
        @extend .text-light;
    }

    @include media-breakpoint-down('sm') {
        border: 1px solid $black;
    }

    /* Frames
     * ---------------------------------------------------------- */
    .generisk-ramme {
        @include nlb-dark-frame();
    }

    .ramme {
        @include nlb-dark-frame();
    
        &.bg-red {
            @include nlb-color($frame-night-red-bg, lighten($frame-night-red-bg, 35%), $white);
        }
        
        &.bg-blue {
            @include nlb-color($frame-night-blue-bg, lighten($frame-night-blue-bg, 35%), $white);
        }
        
        &.bg-yellow {
            @include nlb-color($frame-night-yellow-bg, lighten($frame-night-yellow-bg, 35%), $white);
        }
    }
    
    /* Tables
     * ---------------------------------------------------------- */
    table {
        @extend .table-responsive, .text-light;
        background-color: inherit !important;

        ul {
            padding-inline-start: 0;

            li {
                margin-left: 0;
            }
        }
    
        thead {
            @extend .thead-dark;
        }
    }
}

/* End DarkTheme.SCSS */