$height: $spacer;

body {
    @include make-container();
}

h1.title {
    margin-top: $height !important;
}

img {
    @extend .img-fluid, .rounded;
    margin-bottom: $height !important;
}

table {
    @extend .table, .table-responsive;

    th {
        @extend .thead-light;
    }
}

figure, .imggroup {
    @extend .figure, .text-center;
    margin-bottom: $height !important;
    width: 100%;

    img {
        @extend .figure-img, .img-fluid, .img-thumbnail, .rounded, .mx-auto, .d-block;
    }

    figcaption, .caption {
        @extend .figure-caption, .my-2;
        color: $gray-900;
        font-size: smaller;
    }
}

.prodnote, .optional-prodnote, .prodnote-optional {
    @extend .d-none;
}

.noteref {
    vertical-align: super;
    font-size: smaller;
}

.generisk-ramme {
    @extend .bg-light, .text-dark, .p-1;
}

ul {
    @extend .m-1;
}

blockquote {
    @extend .blockquote;
}