/*! Documentation CSS */
@charset "UTF-8";

@import "core";
@import "darktheme";

body {
    @include make-container();
    @include make-container-max-widths();
    @extend #content;
}

div.language-html {
    @extend .ramme.bg-blue;
    padding: 20px 5px 5px 5px !important;
    border-color: transparent !important;
    margin-bottom: 1.5rem !important;
}