// Imports
@import "bootstrap/functions";
@import "variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/images";

// Custom functionality
%prettify {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

// Extends responsive image functionality from Bootstrap
img {
  @extend .img-fluid;
  @extend %prettify;
}

// Extends container functionality from Bootstrap
body {
  @extend .container-fluid;

  background-color: $nlb-black;
  color: $nlb-green;
}

// Extends container functionality from Bootstrap
h1, h2, h3, h4 {
  @extend .container; 

  text-transform: capitalize;
}

// Extends container functionality from Bootstrap
p, ul, ol {
  @extend .container;
  @extend %prettify;

  background-color: $nlb-gray;
}

// Custom functionality
.page-normal, .page-front, .page-special {
  margin: 20px 0px; 
  border-bottom: 3px solid $nlb-green;
  text-align: right;
}