@charset "UTF-8";

@import "core";

/* Begin Html.SCSS */
body {
    @extend #content;
    
    .colophon, [*|type="colophon"] {
        .precedingemptyline {
            margin-top: $line-height-sm+rem !important;
        }
    
        p {
            @extend .my-0;
        }
    }
    
    span.sentence, 
    span.lic, 
    span.page-normal, 
    span.page-special, 
    span.page-front, 
    h1, h2, h3, h4, h5, h6, 
    div.doctitle, 
    div.docauthor,
    div.imggroup div.caption, 
    table tr td,
    ul,
    p {
        a {
            @extend .bg-light, .text-dark;
        }
        a:hover {
            text-decoration: none;
        }
    }
    
    ul.plain {
        list-style-type: none;
    }
}
/* End Html.SCSS */