// Imports
@import "bootstrap/functions";
@import "variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/utilities";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/images";
@import "bootstrap/tables";

@import "core";

.page-normal, 
.page-special, 
.page-front {
    @extend .mr-3, .mt-3, .mb-5;

    display: inline-block !important;
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;
}

h1, h2, h3, h4, h5, h6 {
    @extend .mt-3;

    .title {
        @extend .display-3;
    }
        
    :hover {
        color: $black;
        text-decoration: none;
    }
    
    a {
        color: $black;
    }
}


