@charset "UTF-8";

@import "core";
@import "darktheme";

/* Begin Nettleserbok.SCSS */
body {
    div.produsent {
        @extend .blockquote;
    }
    .start-info {
        margin-bottom: $nlb-p-margin-bottom-sm;
    
        @include media-breakpoint-only('sm') {
            margin-bottom: $nlb-p-margin-bottom-md;
        }
    
        @include media-breakpoint-up('md') {
            margin-bottom: $nlb-p-margin-bottom-lg;
        }
    
    }
    .oppgaver {
        .oppgaver-li-oppgavetekst {
            margin-bottom: $nlb-p-margin-bottom-sm;
    
            @include media-breakpoint-only('sm') {
                margin-bottom: $nlb-p-margin-bottom-md;
            }
    
            @include media-breakpoint-up('md') {
                font-size: $nlb-p-font-size-lg;
            }
        }
        .sentence {
            font-size: $nlb-p-font-size-sm;
    
            @include media-breakpoint-only('sm') {
                margin-bottom: $nlb-p-margin-bottom-md;
            }
        
            @include media-breakpoint-up('md') {
                font-size: $nlb-p-font-size-lg;
            }
        }
        .underoppgaver {
            @extend .oppgaver;
    
            margin-left: 18px;
    
            @include media-breakpoint-only('sm') {
                margin-left: 20px;
            }
        
            @include media-breakpoint-up('md') {
                margin-left: 25px;
            }
    
            .underoppgaver-li-oppgavetekst {
                @extend .oppgaver-li-oppgavetekst;
            }
        }
    }

    nav#toc_container {
        overflow-x: hidden;
        max-width: 100%;
    }
}

/* End Nettleserbok.SCSS */