// Imports
@import "bootstrap/functions";
@import "variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/utilities";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/images";
@import "bootstrap/tables";

@import "core";
@import "darktheme";

.page-normal, 
.page-special, 
.page-front {
    @extend .border-top, .d-none, .d-sm-block, .pt-3, .mt-5, .mb-4, .text-right;

    display: block;
    font-weight: bold;
    page-break-before: always;
}

div.produsent {
    @extend .blockquote;
}

@media all and (max-width: 639px) {
    .start-info {
        margin-bottom: $nlb-p-margin-bottom-sm;
    }
    .oppgaver {
        .oppgaver-li-oppgavetekst {
            margin-bottom: $nlb-p-margin-bottom-sm;
        }
        .sentence {
            font-size: $nlb-p-font-size-sm;
        }
    }
}

@media all and (min-width: 640px) and (max-width: 767px) {
    .start-info {
        margin-bottom: $nlb-p-margin-bottom-md;
    }
    .oppgaver {
        .oppgaver-li-oppgavetekst {
            margin-bottom: $nlb-p-margin-bottom-md;
        }
        .sentence {
            font-size: $nlb-p-font-size-md;
        }
    }
}

@media all and (min-width: 768px) {
    .start-info {
        margin-bottom: $nlb-p-margin-bottom-lg;
    }
    .oppgaver {
        .oppgaver-li-oppgavetekst {
            margin-bottom: $nlb-p-margin-bottom-lg;
        }
        .sentence {
            font-size: $nlb-p-font-size-lg;
        }
    }
}