/*! Nettleserbok CSS */
@charset "UTF-8";

@import "includes/core";
@import "includes/bootstrap/nav";
@import "includes/bootstrap/navbar";
@import "includes/seeds";
@import "includes/darktheme";

/* Begin Nettleserbok.SCSS */
a {
    color: $nlb-black;
    text-decoration: none;
}
#toc_container,
#page-list {
    a:hover {
        background: $pure-yellow !important;
        color: $nlb-black !important;
    }
}

#content {
    padding: 0 1vw;

    @include media-breakpoint-down('sm') {
        width: 100%;
        left:0;
        position: relative;
    }
    h1.title {
        background-color: $nlb-black;
        color: $white;
        margin-left: 0;
        margin-top: 0;
        padding-left: 0;
        padding-top: 4ex;
        padding-bottom: 0.5ex;
        border-bottom: 2mm solid $nlb-green;
        font-size: 220%;
        text-align: center;
    }
    span.sentence {
        @extend .text-dark;
    }
    a:hover,
    .rbPausedFragment,
    .rbActiveFragment {
        background-color: $pure-yellow !important;
        color: $nlb-black !important;
    }

    div.produsent, div.docauthor {
        @extend .blockquote;
    }
    .start-info {
        margin-bottom: $nlb-p-margin-bottom-sm;
    
        @include media-breakpoint-only('sm') {
            margin-bottom: $nlb-p-margin-bottom-md;
        }
    
        @include media-breakpoint-up('md') {
            margin-bottom: $nlb-p-margin-bottom-lg;
        }
    
    }
    .oppgaver {
        .oppgaver-li-oppgavetekst {
            margin-bottom: $nlb-p-margin-bottom-sm;
    
            @include media-breakpoint-only('sm') {
                margin-bottom: $nlb-p-margin-bottom-md;
            }
    
            @include media-breakpoint-up('md') {
                font-size: $nlb-p-font-size-lg;
            }
        }
        .sentence {
            font-size: $nlb-p-font-size-sm;
    
            @include media-breakpoint-only('sm') {
                margin-bottom: $nlb-p-margin-bottom-md;
            }
        
            @include media-breakpoint-up('md') {
                font-size: $nlb-p-font-size-lg;
            }
        }
        .underoppgaver {
            @extend .oppgaver;
    
            margin-left: 18px;
    
            @include media-breakpoint-only('sm') {
                margin-left: 20px;
            }
        
            @include media-breakpoint-up('md') {
                margin-left: 25px;
            }
    
            .underoppgaver-li-oppgavetekst {
                @extend .oppgaver-li-oppgavetekst;
            }
        }
    }
}
body.fullscreen {
    @extend .bg-dark;

    #percentage_container,
    #page-list,
    #toc_container {
        @extend .invisible;
    }
}

nav#toc_container, nav#page-list {
    overflow-x: hidden;

    ol, ul, dl {
        padding-left: 20px;
    }

    @include media-breakpoint-down('sm') {
        display: none;
    }
}

#skippability, #Fullskjerm_knapp {
    @include media-breakpoint-down('sm') {
        display: none;
    }
}

#percentage_container {
    .progress-text {
        @include media-breakpoint-down('sm') {
            left: 5%;
        }
    }
}

.slider, #currentPbr {
    @include media-breakpoint-down('sm') {
        left: 45vw;
    }
}
/* End Nettleserbok.SCSS */